header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
