@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'form header header header'
    'form body body body'
    'form body body body'
    'form body body body'
    'form body body body'
    'form body body body'
    'form body body body';
  min-height: 100svh;
}

.form-container {
  grid-area: form;
  background-color: #eeeeee;
  display: grid;
  grid-template-columns: 1fr;

  & .personal-details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}

main {
  grid-area: body;
}
